/Week3_praktikum/target/
/Week4_Class&Package/jtk_sales/target/
/Week4_Class&Package/private_encapsulation/target/
/Week5_Classification_dll/PBO_W5/target/
/Week6_Inheritance_AbstractClass_Interface/task1_1/target/
